*{
    /*Always make sure to put these in the star selector whenever styling*/    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'poppins', 'san-sarif';
}

/*For styling the text inside the anchor tag*/
a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgba(15,15,15,255);
}

img{
    cursor: pointer;
}

/*Making a class for recursive use wherever we wish to give display as flex and align items to center. We can directly use d-flex class*/
.d-flex{
    display: flex; /*Puts items in the horizontal bar*/
    align-items: center; /*Aligns items from top to bottom in centre*/
}

nav{
    border: transparent;
    padding: 15px 20px;
    justify-content:  space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: sticky; /*Freezez the nav bar to the top and it doesn't get scrolled*/
    top: 0;
    z-index: 100;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}


.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 25px;
    margin-right: 15px; /* Space between the hamburger icon and YouTube logo */
}

.nav-left .ytlogo{
    width: 100px;
}

.nav-middle{
    border: none;
    width: 50%;
}
.search-box {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-box input {
    width: 80%;
    border: none;
    padding: .4rem;
    outline: none;
    margin-right: 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
}

.search-box img {
    width: 25px; /* Set a specific size for the search icon */
    margin-left: 20px; /* Adds spacing between input and icon */
    padding-top: 3px;
    border: none;
}

.search-div{
    width: 10%;
    background-color: rgb(72, 72, 72);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nav-middle .mic-icon{
    width: 25px;
}

.search-box{
    width: 90%;
    background-color: rgb(48, 48, 48);
    border: 1px solid grey;
    border-radius: 100px;
    justify-content: space-between;
    padding-left: 1rem;
}

.mic-div{
    width: 40px;
    height: 40px;
    justify-content: center;
}

.mic-icon{
    /*border: 2px solid red;*/
    border-radius: 50px;
}

.sidebar{
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 50;
    padding: 10px;
    padding-top: 80px;
}

.smaller-sidebar{
    width: 5%;
}

.smaller-sidebar a p{
    display: none;
}

.sidebar-upper a{
    padding: 12px;
    margin-bottom: 2px;
}

.sidebar-upper a img{
    width: 25px;
    margin-right: 20px;
}

.sidebar-upper a:first-child{
    border-radius: 10px;
    background-color: #272727;
}

/*Gives the dark border when we hover over any side option*/
.sidebar-upper a:hover{
    border-radius: 10px;
    background-color: #272727;
}

.mainContainer{
    border: none;
    margin-left: 17%;
    padding-top: 20px;
    flex-wrap: wrap;
}

.larger-mainContainer{
    border: none;
    margin-left: 7%;
    padding-top: 20px;
    flex-wrap: wrap;
}

.card{
    border: none;
    width: 283px;
    margin-right: 30px;
    color: white;
    margin-bottom: 30px;
}

.larger-card{
    padding-left: 20px;
    border: none;
    width: 400px;
    margin-right: 30px;
    color: white;
    margin-bottom: 30px;
}

.thumbnail{
    width: 100%;
    border-radius: 10px;
}

.logoContainer .userImg{
    border-radius: 50%;
    width: 25px;
    margin-right: 25px;
}

.video-container{
    padding-top: 20px;
    padding-left: 2rem;
}

.content{
    display: flex;
    justify-content: space-between;
}

.video-container .content-left{
    flex-basis: 67%;
}

.video-container .content-left video{
    width: 100%;
}

.video-container .content-right{
    flex-basis: 31%;
    padding-right: 1rem;
}

.video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: white;
}

.video-list img{
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

.below-video-container{
    color: white;
}

.below-video-container h1{
    font-size: 2.3rem;
}

.other-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.other-details-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.channelNameAndIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channelNameAndIcon, .joinAndSubsButton-container, .other-details-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-details-right{
    justify-content: space-evenly;
    width: 15%;
    background-color: #2e2e2e;
}

.other-details-right img{
    width: 30px;
}

.channelIcon{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.subsCount{
    font-size: 0.65rem;
}

.joinAndSubsButton-container{
    border: none;
    padding: 1rem .5rem;
    border-radius: 20px;
    outline: none;
}

.joinButton{
    padding: .5rem 2rem;
    border: none;
    border-radius: 20px;
    margin-right: .5rem;
    background-color: #2e2e2e;
    color: white;
    font-weight: 1000;
    cursor: pointer;    
}

.subsButton{
    padding: .5rem 2rem;
    border: none;
    background-color: red;
    margin-right: 1rem;
    color: white;
    border-radius: 20px;
    font-weight: 1000;
    cursor: pointer;
}

.description-Container{
    background-color: #2e2e2e;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
}

.description-Container p{
    font-size: 1rem;
}

.commentContainer{
    margin-top: 1rem;
    margin-right: 30px;
}

.commentContainer h2{
    font-size: 1.5rem;
}

.writeCommentContainer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.writeCommentContainer input{
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.5px solid grey;
    color: white;
    width: 100%;
}

.previousComments{
    margin-top: 1rem;
}